<template name="electionsAdminModifyNewQuestion">
  <tr>
    <td>New Question:</td>
    <td><button class="submitQuestion btn btn-primary" href="#">Add Question</button></td>
  </tr>
  <tr>
    <td></td>
    <td><input class="new question name" type="text" placeholder="Question Name" value="Question Name"></td>
  </tr>
  <tr>
    <td></td>
    <td><input class="new question description" type="text" placeholder="Question Description" value="Question Description"></td>
  </tr>
  <tr>
    <td></td>
    <td>Allow Abstention<input class="new question allowAbstain" type="checkbox" value="allowAbstain"></td>
    <td>Multiple Choice<input class="new question multi" type="checkbox" value="multi"></td>
  </tr>
</template>