<template name="electionsAdminModifyNewChoice">
  <tr>
    <td></td>
    <td>New Choice:</td>
    <td><a class="submitChoice" href="#">Add Choice</a></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td><input class="new choice name" type="text" placeholder="Choice Name" value="Choice Name"></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td><input class="new choice description" type="text" placeholder="Choice Description" value="Choice Description"></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>Image URL: <input class="new choice image" type="text" placeholder="Choice Image URL" value="Choice Image URL"></td>
  </tr>
</template>