<template name="electionsAdminModifyChoice">
  <tr>
    <td></td>
    <td></td>
    <td><input name="choiceName" class="choice name" type="text" placeholder="{{name}}" value="{{name}}"></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td><input name="choiceDescription" class="choice description" type="text" placeholder="{{description}}" value="{{description}}"></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>Image URL: <input name="choiceImage" class="choice image" type="text" placeholder="{{image}}" value="{{image}}"></td>
  </tr>
</template>